body {
    font-family: 'Comfortaa', cursive;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

span {
    color: orangered;
}

p {
    font-size: 20px;
}

section {
    display: flex;
    margin-bottom: 50px;
}

.div1 {
    width: 250%;
    padding-left: 7%;
}

.image img {
    width: 80%;
    padding-left: 15%;
    padding-top: 5%;
}

.link1 {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(rgb(8, 0, 1), rgb(105, 1, 1));
    padding: 10px 20px;
    border-radius: 10px;

}

.top-banner {
    background-image: url(picture/top-banner.png);
    background-repeat: no-repeat;
}

.middle-banner {
    background-image: url(picture/middle-banner.png);
    background-repeat: no-repeat;
    background-position: right;
}

footer {
    background-color: cornflowerblue;
    padding: 10px;
    text-align: center;
}